nvim/spell
nvim/lazy-lock.json
.gsd-keyboard.settings-ported
QtProject.conf
basalt/
bottom/
dconf/
enchant/
eog/
evolution/
gedit/
gnome-control-center/
gnome-initial-setup-done
go/
google-chrome/
gtk-3.0/
htop/
ibus/
libreoffice/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
pulse/
remmina/
user-dirs.dirs
user-dirs.locale
.DS_Store
Autodesk/
xm1/
